<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee ; http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="3.0">
  <display-name>ServletConfigExample</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <context-param>
    <param-name>driver</param-name>
    <param-value>oracle.jdbc</param-value>
  </context-param>
  
  <servlet>
  <servlet-name>ServletConfigExample</servlet-name>
  <sevlet-class>ServletConfigExample</sevlet-class>
  <init-param>
  
  <param-name>email</param-name>
    <param-value>oracle.jdbc</param-value>
  
  </init-param>
  
  </servlet>
  <servlet-mapping>
  <servlet-name>ServletConfigExample</servlet-name>
  <url-pattern>/ServletConfigExample</url-pattern>
  </servlet-mapping>
  
</web-app>